body{
	width: 1388px;
	margin: 0;
	padding: 0;
	background: url(../images/game_bckgd_logo.png) no-repeat;
	font-family: 'Andale Mono', Arial, sans-serif;
}

.hidden{
	display: none;
}

.showPiece{
	display: none;
}

.startScreen{
	width: 1388px;
	height: 785px;
	position: absolute;
	top: 0;
	background: url(../images/play_background.png) no-repeat;
	z-index: 100;
}

.startScreen div{
	margin: 0 auto;
}

.startScreen p{
	margin-left: 225px;
	text-align: center;
	width: 515px;
	font-size: 24px;
	font-family: 'Andale Mono', Arial, sans-serif;
	color: white;
}

#start{
	margin-left: 400px;
	margin-top: 50px;
	padding: 5px 15px 5px 15px;
	font-family: 'Andale Mono', arial, sans-serif;
	font-size: 30px;
	background-color: #b3a371;
	border-radius: 7px;
	border: solid 1px black;
	cursor: pointer;
}

/*NAVIGATION BAR*/

#topBar{
	height: 73px;
	width: auto;
}

#logo{
	float: left;
}

#gameBar{
	float: left;
	width: 666px;
	height: 73px;
	background-color: #707070;
	border: 8px solid #555;
	border-radius: 10px;
	font-size: 24px;
}

#gameBar div{
	margin-right: 100px;
}

#lives{
	float: left;
}

#gameBar ul{
	list-style: none;
}

#time{
	float:left;
}

#score{
	float: left;
}

/*GAME INFO*/

#gameInfo{
	clear: both;
	font-size: 18px;
	color: white;
}

#gameInfo p{
	width: 1024px;
	text-align: center;
	margin-top: 20px;
}


/*CARD FLIPS*/

.container {
  width:120px;
  height: 165px;
  position: relative;
  perspective: 800px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card img {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .back {

  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
}


/*GAMEPLAY AREA*/
#gameplayArea ul{
	display: inline;
	list-style: none;
	overflow-wrap: break-word;
}

#gameplayArea ul li{
	float: left;
}